.textfield input {
    padding: 15px !important;
}
#center-container{
    /* background: black; */
    display: flex;
    flex-direction: row ;
    
}

@media only screen and (max-width: 600px) {
    #center-container{

    /* background:red; */
    flex-direction: column !important ;

}
}